* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: "Poppins", sans-serif;
}


body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #111;
}

.wrapper {
    width: 450px;
    border: 0.1rem solid #000;
    background: #FFF;
    border-radius: 10px;
}

.wrapper header {
    display: flex;
    align-items: center;
    padding: 25px 30px 10px;
    justify-content: space-between;
}

header .icons {
    display: flex;
}

header .icons span {
    height: 30px;
    width: 30px;
    margin: 0 1px;
    cursor: pointer;
    color: #858585;
    line-height: 35px;
    user-select: none;
    border-radius: 50%;
    border: 0.1rem solid #000;
    display: flex;
    align-items: center;   
    justify-content: center;
}

header .icons span:hover {
    background: #f1f1f1;
}

.calendar-body{
    padding: 20px;
}

.calendar-body ul {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    list-style: none;
}

.week-day {
    color: #333;
    width: calc(100% / 7);
    font-size: 1.07rem;
}


.calender-body .weeks li {
    font-weight: 500;
    width: 100%;
    height: 100%;
    background: greenyellow;
}

.calendar-body .days-month {
    margin-bottom: 20px;
}

.days-month li.inactive {
    color: #aaa;
}

.calendar-body .days-month li {
    z-index: 1;
    cursor: pointer;
    position: relative;
    margin-top: 30px;
}

.days-month li.active {
    color: #fff;
}

.day-in-month:hover {
    background: #f2f2f2;
    border-radius: 100%;
}

.day-in-month {
    width: calc(100% / 7);
    /* border: 1px solid #000; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.days-month li.active {
    background: #3cafcf;
    border-radius: 100%;
    /* width: 40px; */
    /* height: 40px; */
    /* transform: translate(20%, -30%); */
    display: flex;
    justify-content: center;
    align-items: center;
}
0